<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <form action="" method="POST">
      <div class="registerForm">
        <div class="form_field">
          <label for="firstName">First Name</label>
          <input
            type="text"
            name="firstName"
            class="registerInput"
            placeholder="firstname..."
            required
          />
        </div>

        <div class="form_field">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            name="lastName"
            class="registerInput"
            placeholder="lastname..."
            required
          />
        </div>

        <div class="form_field">
          <label for="dateOfBirth">Date Of Birth</label>
          <input
            type="date"
            name="dateOfBirth"
            class="registerInput"
            required
          />
        </div>

        <div class="form_field">
          <label for="idNumber">ID No.</label>
          <input
            type="text"
            name="idNumber"
            class="registerInput"
            placeholder="ID No...."
            required
          />
        </div>

        <div class="form_field">
          <label for="username">username</label>
          <input
            type="text"
            name="username"
            class="registerInput"
            placeholder="username..."
            required
          />
        </div>

        <div class="form_field">
          <label for="email">Email</label>
          <input
            type="text"
            name="email"
            class="registerInput"
            placeholder="email..."
            required
          />
        </div>

        <div class="form_field">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            class="registerInput"
            placeholder="password..."
            required
          />
        </div>
        <input type="submit" placeholder="register" />
      </div>
    </form>
  </body>
</html>
