.userContainer {
  display: flex;
}

.sidebar {
  background-color: #fff;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  background: none;
  height: 500px;
  list-style-type: none;
  background-color: #fff;
  border-right: solid;
  margin-right: 15px;
}

.sidebar ul li {
  padding: 15px;
}

.sidebar a {
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 10px;
}