header {
    background: linear-gradient(90deg, #012A4A, #034078);
    padding: 0;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
}

header a {
    text-decoration: none;
}

.head {
    margin: 0;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 30px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
    display: inline;
    padding-top: 50;
}

.logo img:hover {
    transform: scale(1.1);
}

.logo h1 {
    display: inline;
    padding-left: 15px;
    color: #FFFFFF;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}

.auth {
    display: flex;
    align-items: center;
}

.auth img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    transition: transform 0.3s ease;
}

.auth img:hover {
    transform: scale(1.1);
}

.auth li {
    list-style-type: none;
    margin: 0 10px;
    /* border-radius: 20px;
    padding: 10px 20px; */
}

.auth a {
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* .auth li:hover {
    background: #012A4A;
} */

.signOutContainer {
    display: flex;
    align-items: center;
}

.signOutButton {
    padding: 10px 20px;
    justify-content: center;
    background: none;
    border: none;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.signOutButton:hover {
    background: #012A4A;
}

.signOutButton p {
    margin-right: 5px;
    size: 5px;
}

.lockIcon {
    width: 50px;
    height: 50px;
}

.hamburger {
    display: none;
    margin-right: 20px;
}

.hamburger h1 {
    color: #FFFFFF;
    margin: 0;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

nav ul li.transact a::after,
nav ul li.schedule a::after,
nav ul li.location a::after {
    content: " ▾";
    font-size: 1.2rem;
    margin-left: 5px;
    color: #FFFFFF;
}

nav ul li a:hover {
    background-color: #034078;
    color: #FFFFFF;
    transform: translateY(-3px);
}

.quickLinks {
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: #034078;
    background-color: #FFFFFF;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: 10px;
}

.quickLinks::after {
    content: " ▾";
    font-size: 1.2rem;
    margin-left: 5px;
    color: #034078;
}

.quickLinks:hover {
    background-color: #E6E6E6;
    transform: translateY(-3px);
}

.quickLinksDropDown {
    position: absolute;
    top: 115px;
    right: 30px;
    background: linear-gradient(90deg, #012A4A, #034078);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

.quickLinksDropDown.show {
    visibility: visible;
    opacity: 1;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.quickLinksDropDown ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

.quickLinksDropDown li {
    margin: 0;
    display: block;
    padding: 20px;
}

.quickLinksDropDown a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.quickLinksDropDown a:hover {
    background-color: #F0F0F0;
    color: #012A4A
}

@media (max-width: 900px) {
    nav ul {
        display: none;
    }

    .auth {
        display: none;
    }

    .quickLinks {
        display: none;
    }

    .hamburger {
        display: block;
    }
}
